<!DOCTYPE html>
<html lang="en">
 {{>header}}
<body>
    {{>navbar}}
    <!-- main header -->
    <div class ="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center " >
                        <figure>
                         <img src="images/aboutUs1.jpg" alt="about us" class="img-fluid" title="Honey" width="200">
                        </figure>                        
                     </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>welcome to weather checker</p>
                        <h1>I am Honey Parth Shah. I am <span> MERN Stack Developer</span></h1>
                     
                    </div>
                    <!-- right side div -->
                    
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER CODE -->
    {{>footer}}
</body>
</html>